@page
@model dotnetcoresample.Pages.IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenue</h1>
    <p>Votre système d'exploitation est : @Model.OSVersion</p>

    <h2>Données de la table PostgreSQL</h2>
    <ul>
        @foreach (var row in Model.TableData)
        {
            <li>@row</li>
        }
    </ul>
</div>
